@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Override default Leaflet styles to match our theme */
.leaflet-control-attribution {
  font-size: 10px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #ffffff !important;
}

.leaflet-popup-content-wrapper {
  background: #ffffff;
  border-radius: 8px;
}

.leaflet-popup-tip {
  background: #ffffff;
}